@import compass/reset
@import compass/css3
@import fonts.css
@import _variables
@import _mixins
@import _generics


$walls: url(../images/walls-sprites-16bit.png)
$player: url(../images/entities-sprites-16bit.png)

$gameWidth: 800px
$gameHeight: 600px
$baseGrid: 72px

body
	overflow: hidden
	background: $black



.legend
	float: left
	padding: 10px
	margin: 30px
	border-radius: 5px
	background: white
	font-size: 12px
	line-height: 14px

.outherGameZone
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 100%
	overflow: hidden
	background: black
	cursor: move


#gameZone
	position: relative
	cursor: default


	//UI

	#ui
		position: fixed
		top: 0
		left: 0
		height: 100%
		width: 100%
		z-index: 997
		overflow: hidden


		p
			padding: 10px
			background: white
			float: left
			color: black
			margin-right: 5px
			position: relative
			z-index: 99

			&.clearMemory
				background: red
				color: $white
				cursor: pointer


		#ambient-light
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: url(../images/ambient-light.png) center center no-repeat
			z-index: 1






	/* LEVELS LAYER */
	#playerTriggerLayer,
	#actionLayer,
	#decorationLayer,
	#levelsLayer
		z-index: 1
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		margin: 0


	/* hide by default */
	#actionLayer
		display: block
		z-index: 998



/*CURSOR*/

#mycursor
	position: absolute
	display: none
	cursor: none
	height: 48px
	width: 48px
	background: url(../images/cursors.png) 0 0 no-repeat
	z-index: 999
	
	&.normal
		background: url(../images/cursors.png) 0 0 no-repeat












#gameZone
	#levelsLayer
		/*background: url(../images/ground.png) repeat*/
		background: #b09f84
 

	/*COLLISION WALL (insibles) rotated*/
	.collisionWall,
	.actionWall
		position: absolute
		height: $baseGrid
		width: $baseGrid


	.actionWall
		background: none


	#actionLayer
		.actionWall
			background: none

			&.possiblesMoves
				//background: rgba(0,120,200,0.25)
				cursor: pointer

			&.impossiblesMoves
				//background: rgba(250,50,000,0.25)
				cursor: default

			&.digout
				//background: rgba(125,200,0,0.25)
				cursor: pointer









	/* PLAYER */
	#playerTriggerLayer
		display: none
		z-index: 999


	#playerTrigger
		position: absolute
		top: 0
		left: 0
		height: $baseGrid
		width: $baseGrid
		background: rgba(0,0,0,0.20)
		margin: -46px 0 0 -30px
		cursor: pointer
		z-index: 999


	#player
		position: absolute
		top: 0
		left: 0
		background: url(../images/player-shadow.png) center bottom no-repeat


		#playerSprite
			position: absolute
			bottom: 0
			left: 0
			height: 96px
			width: $baseGrid
			background: $player 0 0 no-repeat
			border-radius: 5px


		.miningBar
			display: none
			-webkit-box-sizing: border-box
			box-sizing: border-box
			position: absolute
			top: -25px
			left: 0
			width: 100%
			height: 10px
			border: 2px solid green
			z-index: 99
			background: rgba(0,255,125,0.75)
			overflow: hidden


			.progression
				position: absolute
				top: 0
				left: 0
				height: 10px
				background: green
				z-index: 99











	.collisionWall
		background: $walls 0 0 no-repeat


		/*DECORATION*/
		.walls
			display: block
			position: absolute
			width: $baseGrid
			height: $baseGrid
			left: 0
			bottom: 0


		/*WALLS - VERTICAL*/
		&.solidWall .walls
			height: $baseGrid*2
			background: $walls (-$baseGrid*2) (-$baseGrid*2) no-repeat


		/*SAND - random events & key - DIGOUT*/
		&.sand .walls,
		&.monster .walls,
		&.key .walls
			background: $walls 0 (-$baseGrid) no-repeat
			height: $baseGrid

		/*SAND CLEARED */
		&.sandCleared .walls
			background: $walls 0 0 no-repeat


		/*OBSTACLE*/
		&.obstacle .walls
			background: $walls 0 (-$baseGrid*2) no-repeat
			height: $baseGrid*2

		/*ENTRANCE*/
		&.entrance
			background: $walls (-$baseGrid*3) (-$baseGrid) no-repeat


		/*EXIT*/
		&.exit
			background: $walls (-$baseGrid*2) (-$baseGrid) no-repeat





// Medium Screens (ipad)
@media screen and (min-width:768px)
	body
		font-size: 0.9em


// Desktop Screens (960 and more)
@media screen and (min-width:$siteWidth)
	body
		font-size: 0.8em

	.wrap
		width: $siteWidth
	
// Retina screen
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx)





